.area-catalog {
  display: flex;
  flex-wrap: wrap;
  padding: var(--s-2s);
  flex: 1;
  justify-content: center;
  /* align-items: center; */
}

.item-card {
  background: white;
  border: 1px solid var(--c-primary-shadow);
  display: flex;
  flex: 1;
  flex-basis: 300px;
  flex-direction: column;
  margin: var(--s-2s);
  position: relative;
  max-width: var(--s-8);
}

.item-card-image {
  height: var(--s-7);
  object-fit: cover;
}

.item-card header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--s-1s);
}

.item-card-name,
.item-card-price {
  color: var(--c-primary);
  font-family: var(--f-sans);
  font-size: calc(var(--s-2) * 0.6);
  line-height: var(--s-2);
  margin: 0;
}

.item-card-short {
  font-size: var(--s);
  font-weight: 400;
  padding: 0 var(--s-1s);
}

.item-card footer {
  margin-top: var(--s-1s);
}

.item-card footer::before {
  border-top: 1px solid var(--c-accent-1);
  content: "";
  position: absolute;
  width: 70%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.item-card-button {
  background: white;
  border: none;
  color: var(--c-accent-1-ll);
  font-family: var(--f-sans);
  font-size: var(--f-s);
  padding: var(--s);
  width: 100%;
  cursor: pointer;
}



/* Testing: slightly smaller cards*/

.item-card {
  flex-basis: 220px;
  margin: var(--s-3s);
  max-width: var(--s-7);
}

.item-card-image {
  height: var(--s-6);
}

.item-card header{
  padding: var(--s-1s);
}

.item-card-name,
.item-card-price {
  font-size: calc(var(--s-2) * 0.6);
  /* line-height: var(--s-2); */
  line-height: 1.1;
  text-align: left;
}

.item-card-short {
  font-size: var(--s);
  padding: 0 var(--s-1s);
  flex: 1;
}

.item-card footer {
  margin-top: var(--s-1s);
}

.item-card-button {
  font-size: var(--f-s);
  padding: var(--s-1s);
}

/* Vendido */
.item-modal-card._vendido,
.item-card._vendido {
  position: relative;
}

.item-modal-card._vendido .item-modal-price,
.item-card._vendido .item-card-price {
  text-decoration: line-through;
  color: var(--c-shadow);
}

.item-modal-card._vendido .item-modal-image,
.item-card._vendido .item-card-image {
  position: relative;
  filter: grayscale(70%) opacity(70%);
}

.item-modal-card._vendido::after,
.item-card._vendido::after {
  content: 'vendido';
  top: var(--s-4);
  position: absolute;
  font-weight: 700;
  background-color: var(--c-shadow);
  color: white;
  /* color: var(--c-white-shadow); */
  z-index: 1;
  font-size: var(--s-1);
  line-height: 1.2;
  padding-top: var(--s-3s);
  text-align: center;
  width: 100%;
}

.item-modal-card._vendido::after {
  top: var(--s-6);
 }