@import 'theme.css';
@import 'item-card.css';
@import 'item-modal.css';
@import 'item-brief.css';
@import 'panels-common.css';
@import 'responsive.css';

body {
  display: flex;
  /* flex-wrap: wrap; */
  min-height: 100vh;
}

h1, h2 {
  font-family: var(--f-cursive);
}

.focusable {
  outline: none;
  box-shadow: 0 0 0 0 hsla(0, 0%, 0%, 0);
  transition: box-shadow 0.3s;
  position: relative;
}

.focusable:focus {
  outline: none;
  box-shadow: 0 0 0 var(--s-4s) hsla(0, 0%, 0%, 0.25);
  z-index: 1;
}

.bought-icon {
  /* display: none; */
  position: absolute;
  top: var(--s-1);
  right: var(--s-1);
  width: 12%;
  max-width: 84px;
  border-radius: 50%;
  box-shadow: 0 0 var(--s-1s) var(--s-2s) var(--c-shadow);
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s;
}

.bought-icon._on {
  /* display: block; */
  opacity: 1;
  transform: scale(1);
}