@media (max-width: 1550px) {
  body {
    flex-direction: column;
  }

  main {
    /* min-height: calc(100vh - 250px); */
    flex: 1;
  }

  .added-wrapper,
  .category-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
  }

  .item-brief-button,
  .menu-item {
    margin: var(--s-4s);
    padding-left: var(--s-2);
    padding-right: var(--s-2);
  }

  .item-brief-price {
    margin-left: var(--s);
  }

  .area-cart > button {
    margin-top: var(--s-1);
    line-height: 1;
  }
}